.header {
	height: 100px;
	justify-content: space-between;
	padding: 0 20px;
	padding: 20px 40px;
	box-shadow: 0px -2px 10px black;
	position: fixed;
	top: 0;
	width: 1000px;
	background-color: rgb(214, 240, 247);
}
